<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>임시 메인</title>

    <script>
    </script>
</head>
<body>
임시 메인 페이지입니다

</body>
</html>