<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Title</title>

    <script>
      // 아이디 중복확인 하기
      function CheckID() {
        const userID = $('#userID').val();

        $.ajax({
          type: 'POST',
          url: '/signup/checkup',
          data: {
            userID,
          },
          success: function (response) {
            alert(response.msg);
          }
        });
      }

      // 회원등록 하기
      function signup() {
        const userID = $('#userID').val();
        const PW = $('#PW').val();
        const confirmPW = $('#confirmPW').val();

        $.ajax({
          type: 'POST',
          url: '/signup',
          data: {
            userID, PW, confirmPW,
          },
          success: function (response) {
            alert(response.msg);
            location.href = '/login';
          }
        });
      }
    </script>
</head>
<body>
임시 회원가입 페이지입니다.
<p>아이디: <input type="text" id="userID"><button onclick="CheckID()">중복 확인</button></p>
<p>비밀번호: <input type="text" id="PW"></p>
<p>재확인: <input type="text" id="confirmPW"></p>
<p>
    <button onclick="signup()">회원 가입</button>
</p>
</body>
</html>